
h1 {
  color: #E05D5D;
	font-size: 30px;
	font-family: Helvetica;
	text-align: center;
}

p { 
  color: black;
	font-size: 15px;
	font-family: Helvetica;
	text-align: left;
}


img {
src ="images/delhia2.jpg" : center 	
}

h2 {
  color: lightseagreen;
	font-size: 20px;
	font-family: Helvetica;
	text-align: left;
}
p {text-align: left;

}

h3 {
  color: lightseagreen;
	font-size: 20px;
	font-family: Helvetica;
	text-align: left;
}

h4 {
  color: lightseagreen;
	font-size: 20px;
	font-family: Helvetica;
	text-align: left;
}

h5 {
  color: lightseagreen;
	font-size: 20px;
	font-family: Helvetica;
	text-align: left;
}








body {
  color: rgb(10, 10, 10);     
	background-color: #F8F0DF;    
}
body {
  font-size: 15px;
	line-height: 2.2;
	letter-spacing: 1px;
}
<img src="logo.png" class="img-circle">
#logo {
  width: 40px;
}

.img-circle {
	border-radius: 50%;  }

	#titre {
		text-align: center;
	}
	.card {
  display: flex;
  align-items: left;
  justify-content: space-between;
	padding: 20px;
}
.card img {
  width: 200px;
}
.card h2 {
  flex-grow: 1;
  padding-left: 20px;
}